In [4]:
import pandas as pd # type: ignore

In [2]:
employeeDb = [
    {
        "name": "Johannes",
        "email": "john@example.com",
        "phone": "0790368869"
    },
    {
        "name": "Jean",
        "email": "jean@example.com",
        "phone": "+1-234-567-869"
    },
]

pd.DataFrame(employeeDb)

       name             email           phone
0  Johannes  john@example.com      0790368869
1      Jean  jean@example.com  +1-234-567-869